snippet main "init a go file" i
package ${1:main}

import (
	${2:"fmt"}
)$3

func main() {
	$0
}
endsnippet

snippet pr "print"
fmt.Print($0)
endsnippet

snippet pl "println"
fmt.Println($0)
endsnippet

snippet pf "print"
fmt.Printf($0)
endsnippet
