snippet init
# Global configs
${1:http}://${2:localhost}:${3:3000}
Accept: ${4:application/json}
--

# ${5:API description}
--
${6:method} /${7:path}
endsnippet

snippet api

--
# ${1:API descripttion}
${2:GET} /$3
endsnippet

snippet ge
GET
endsnippet

snippet pu
PUT
endsnippet

snippet po
POST
endsnippet

snippet de
DELETE
endsnippet

snippet pa
PATCH
endsnippet

snippet kv
"${1:key}": "${2:value}"
$0
endsnippet
